
.conteiner{
    background-image: url(imagens/Pokémon\ Rpg.jpg);
    margin-left: 10%;
    margin-top: 10%;
    border: 3px solid black;
    border-radius: 10px;
    height: 460px;
    width: 736px;
}

body{
    background-color: #2fb7e0;
}

button{
    border-radius: 10px;
    background-color: #029b4f;
    color: white;
    font-size: 30px;
}